<table>
  <thead>
    <tr>
      <th>Saying</th>
      <th>Author</th>
      <th>Actions</th>
  </thead>
  <%= for q <- @quotes do %>
  <tr>
    <td>
      <a href="<%=quote_path(@conn, :show, q.id) %>">
        <%= q.saying %>
      </a>
    </td>
    <td>
      <%= q.author %>
    </td>
    <td>
      <a href="<%=quote_path(@conn, :edit, q.id) %>">
        Edit
      </a>
    </td>
  </tr>
  <% end %>
</table>
