<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Phoenix!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery.restfulizer.js"></script>
    <script>
    $(function() {
      $(".rest").click(function(d) {
        $('form').submit(function(s) {
          var input = $("<input>")
          .attr("type", "hidden")
          .attr("name", "csrf_token").val("<%= csrf_token(@conn) %>");
          $(s.target).append($(input));
        });
      });
      $(".rest").restfulizer({});

    });
    </script>

  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
        </ul>
        <span class="logo"></span>
      </div>

      <%= @inner %>

      <div class="footer">
        <p><a href="http://phoenixframework.org">phoenixframework.org</a></p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
